.menu-page{
  height: 100vh;
  background: #f3f4f5;
  display: flex;
  flex-direction: column;
  background: url("https://blog-1258032198.cos.ap-shanghai.myqcloud.com/wallhaven-m9p7r8-tuya.jpg?q-sign-algorithm=sha1&q-ak=AKID0jNqUGT6Eqz9dTdiZ5KT2ox1Ac3XDl9Jv4EBQ1X9Amdu3Aih2CdRW5vgQA9DolBX&q-sign-time=1693138132;1693141732&q-key-time=1693138132;1693141732&q-header-list=host&q-url-param-list=ci-process&q-signature=89c6c9d9208995eaccfaca77ffca134dc2342b54&x-cos-security-token=0FrY60sw4hO0tjrNE6KmOcS4PInvRvYa9b07c3970feed4acb66ac457c185c198nuGpAfvtNwXGxkcfk6Q4b1o0pFMwDKW6A2hBR4y40pAydMj3Xs98bHl6-lWXeD50ITRtijVs48451beLoWo0UbE7HMrDuVeIV25SWgrCAEYfffgPcFzAK3gFVKZznmBdOpovs3RQ7Q4Ib2dVSSZO3DDRFBrTFHiknmTz2DpOCHPYOB1T150qBI8AbbzywQux&ci-process=originImage") no-repeat;
  background-size: cover;

  .status-bar{
    position: sticky;
    height: 1.5rem;
    background: rgba(255,255,255,0.6);
    width: 100%;
    display: flex;
    align-items: center;
  }

  .desktop{
    flex: 1;
    overflow-y: auto;
  }

  .dock-bar{
    position: absolute;
    bottom:2rem;
    height: 5rem;
    width: 60rem;
    left: 50%;
    transform: translate(-50%,0);
    background: rgba(255,255,255,0.6);
    margin-left: auto;
    border-radius: 20px;
    padding: 2rem;
  }

  .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    background: #fafafa;
    box-shadow:  31px 31px 63px #9b9b9b,
    -31px -31px 63px #ffffff;
    margin: 2px 4px;
  }

}

