.menu-page{
  height: 100vh;
  background: #f3f4f5;
  display: flex;
  position: relative;
  flex-direction: column;
  background: url("https://blog-1258032198.cos.ap-shanghai.myqcloud.com/wallhaven-72drx3-tuya.jpg");
  background-size: cover;
  overflow: hidden;

  @font-face {
    font-family: 'lexend';
    font-weight: normal;
    src: url('../../font/lexend-VariableFont_wght.ttf') format('truetype');
  }
  font-family: "Lexend", sans-serif;

  .status-bar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px var(--color-black-100);
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    animation: top-to-bottom 0.3s;
    padding: 0.15rem 1rem 0.15rem 0.5rem;
    font-size: 0.95rem;
  }

  .desktop{
    flex: 1;
    overflow-y: auto;
  }

  .dock-bar{
    position: absolute;
    bottom:2rem;
    height: 5rem;
    width: 60rem;
    left: 50%;
    transform: translate(-50%,10rem);
    background: rgba(255,255,255,0.2);
    margin-left: auto;
    border-radius: 20px;
    padding: 2rem;
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
  }


  .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    background: #fafafa;
    box-shadow:  31px 31px 63px #9b9b9b,
    -31px -31px 63px #ffffff;
    margin: 2px 4px;
  }

}

