.menu-item{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 23px;
  background: #e0e0e0;
  box-shadow:  8px 8px 16px #afafaf,
  -8px -8px 16px #ffffff;
}
